<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
            <exclude>tests/Integration/TestRunner.php</exclude>
            <exclude>tests/Integration/TestCertificateGenerator.php</exclude>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>src/Tests</directory>
            <file>src/autoload.php</file>
        </exclude>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <server name="HTTPS" value="off"/>
        <ini name="default_socket_timeout" value="30"/>
        <ini name="max_execution_time" value="60"/>
    </php>

    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml"/>
    </logging>
</phpunit>
